// Form element styling

button, .button{
    display: inline-block;
    min-width: 200px;
    color: $black;
    text-align: center;
    font-family: circe, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 60px;
    border-radius: 5px;
    cursor: pointer;

    &.primary{
        background-color: $primary;
        color: white;
    }

    &.outline{
        border: 1px solid $black;
        color: $black;
    }
}